*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: turquoise;
    font-size: sans-serif;
    outline: none;
}
.calcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: tomato;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white; 
     display: grid;
     grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: pink;
    /* box-shadow: ; */
    border: none;
    border-radius: 30px;
    color: rgb(70, 70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;  
}
button{
    height: 45px;
    width: 45px;
    background-color: pink;
    box-shadow: -5px -5px 12px pink,
                    5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    background-color: pink;
    box-shadow: -5px -5px 12px pink,
                    5px 5px 12px rgba(0,0,0,.16);
   
    border-radius: 40%;
}
.screenbody{
   
    display: flex;
    justify-content: center;
    align-items: center;
}